@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

header{
    background-color: rgb(46, 46, 50);
    color: white;
    text-align: center;
    padding: 15px;
}
 body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #ffffff;
}
nav{
    background-color: rgb(42, 30, 207);
    height: 80px;
    width: 100%;
}
 label.logo{
    color: white;
    font-size: 30px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
}
nav ul li a{
    color: #ffffff;
    font: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
}
nav ul li a.active,a:hover{
    background: rgb(101, 119, 210);
    transition: .5s;
} 
.checkbtn{
    font-size: 30px;
    color: white;
    float:right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
}
#check{
    display: none;
}
@media (max-width:952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
}
@media ( max-width:858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 80%;
        height: 100vh;
        background-color: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    nav ul li a:hover,a.active{
        background: none;
        color: #0082e6;
    }
    #check:checked ~ ul{
        left:0;
    }
}

/* --------section1---------- */

#main{
    display: flex;
    /* border: 1px solid black; */
    width: 100%;
}
#pre{
    background-color: #0082e6;
    width: 100%;
}
#pre h1{
    font-size: 40px;
    color: #ffffff;
    margin-left: 80px;
}
#pre p{
    margin-left: 80px;
    margin-top: 20%;
    color: #ffffff;
}
#simage{
    width: 100%;
}
@media only screen and (max-width: 480px) {
    #sec1 {
       width: 100%;
    }
    #simage{
        display: none;
    }
}
/* ---------section of process----- */
#section3{
    margin-top: 70px;
    margin-bottom: 160px;
    background-color: rgb(255, 255, 255) ;
}
#main3 h6{
    padding-top: 60px;
    padding-left: 35px;
    font-size: 30px;
  }
  #main3 h1{
    padding-left: 40px;
  }
#process{
    margin: 34px;
    display: flex;
}
#process .log{
    padding: 54px;
    margin: 2px 55px;
    border-radius: 28px;
    background: #e4dfdf;
    margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
    #process {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .log {
      text-align: center;
      margin-bottom: 20px;
    }
    #main3{
        margin-top: 322px;
    }
    #section3{
        margin-top: -222px;
    }
  }

/* <!-- -----------------------section follows ------------- --> */

#info{
    background-color: rgb(0, 0, 0);
    padding: 20px;
}
#info a{
    background: #000000;
}
i{
    margin: 10px;
}
#info i:hover{
        background-color: rgb(18, 216, 223);
        border-radius: 5px;
}


